*
!automation/
!custom_components/
!custom_components/climate/
!custom_components/sensor/
!custom_components/switch/
!groups/
!extraconfig/
!*.yaml
!*.py
!scenes
!.gitignore
google_calendars.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
extraconfig/cover.yaml
extraconfig/zones.yaml
ip_bans.yaml
