*
!automation/
!custom_components/
!groups/
!extraconfig/
!*.yaml
!scenes
!.gitignore
google_calendars.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
extraconfig/cover.yaml
extraconfig/zones.yaml
